.weather-description{
  font-size: 1rem;
}

h2{
  font-size: 3rem;
}

.text-lbl{
  font-size: 1rem;
  color:#01FF70;
}

.temp{
  vertical-align: middle;
  padding-top: 15px;
}

.card{
  background-color:#01FF70;
  min-width: 300px;
}

.fa-plus{
  color:#01FF70;
}
